@charset "UTF-8";

.flexslider .banner_title{width:1240px; position:absolute; left:50%; bottom:60px; margin-left:-620px; z-index:3;}
.flexslider .banner_title li{width:33.3333%; float:left; text-align:center; font-size:16px; font-weight:normal; color:rgba(255,255,255,0.5); display:block; cursor:pointer;}
.flexslider .banner_title li span{font-weight:600; padding-right:10px; color:rgba(255,255,255,0.5);}
.flexslider .banner_title:after{content:""; display:block; clear:both;}/*clearfix*/

/*insert banner img*/
.flexslider .slides li div.imgs{width:105%; height:900px; text-indent:-9999px; transform: translateZ(0);}

.flexslider .slides .image_wrap1 div.imgs{background-image:url(../img/banner1.png); background-repeat:no-repeat; background-size:cover; background-position:50% 90%; animation:none; transform:translateX(0%);}

.flexslider .slides .image_wrap2 div.imgs{background-image:url(../img/banner2.png); background-repeat:no-repeat; background-size:cover; background-position:50% 50%; animation:none; transform:translateX(-1%);}

.flexslider .slides .image_wrap3 div.imgs{background-image:url(../img/banner3.png); background-repeat:no-repeat; background-size:cover; background-position:50% 50%; animation:none; transform:translateX(-1%);}

/*banner text*/
.flexslider .txt_wrap{width:567px; position:absolute; left:50%; top:387px; margin-left:-283.5px; z-index:3;}
.flexslider .txt_wrap .imgs{width:100%;}
.flexslider .txt_wrap p{width:100%; text-align:center; font-size:24px; color:#fff; font-family: 'Noto Sans KR', sans-serif; line-height:24px; padding-top:20px; opacity:0.8;}

/*banner animation*/
@keyframes bannerAni{
    0%{transform:translate(-2%);}
    100%{transform:translate(0%);}
}

@keyframes bannerAni2{
    0%{transform:translate(0%);}
    100%{transform:translate(-1%);}
}

@keyframes bannerAni3{
    0%{transform:translate(-3%);}
    100%{transform:translate(-2%);}
}

@keyframes progressBar{
0%{width:0%;}
100%{width:100%;}
}

/*sections*/
.wrap .section .txt br{display:none;}
.wrap .section{padding-top:80px;}
.wrap .section h3{font-family:'Montserrat'; font-weight:600; font-size:64px; padding-bottom:12px;}
.wrap .section .txt{padding-bottom:60px;}
/*더보기 button*/
.wrap .section .more_btn{width:240px; border:1px solid rgba(150,150,150,0.5); margin:60px auto 80px auto;}
.wrap .section .more_btn a{display:block; font-size:24px; line-height:24px; font-weight:500; padding:22px 0; text-align:center;}
/*detail section*/
/*section1:Den Mobili*/
.wrap .section1 h3{padding-bottom:16px;}
.wrap .section1 ul li{float:left; height:320px; text-indent:-9999px;}
.wrap .section1 ul li:nth-child(1){width:39.5%; background:rgba(230,230,230,1);}
.wrap .section1 ul li:nth-child(1) img{width:80%; display:block; margin:0 auto; margin-top:137px;}
.wrap .section1 ul li:nth-child(2){float:right; width:57.25%; background:rgba(230,230,230,1); background-image:url(../img/landing/landing2.png); background-repeat:no-repeat; background-size:cover; background-position:center;}
.wrap .section1 ul:after{content:""; display:block; clear:both;}/*clearfix*/
/*section2:Material*/
.wrap .section2 h3{text-align:center;}
.wrap .section2 p{text-align:center;}
.wrap .section2 ul li{float:left; width:23.79%; height:400px; background:rgba(230,230,230,1); margin-right:1.61%; position:relative; background-repeat:no-repeat; background-size:cover; background-position:center; cursor:pointer; opacity:0.9;}
.wrap .section2 ul li:nth-child(4){margin-right:0%;}
.wrap .section2 ul li .mat_logo{background-repeat:no-repeat; background-size:contain; background-position:center; position:absolute; left:50%; bottom:90px;}
/*section2 insert img*/
.wrap .section2 ul li:nth-child(1){background-image:url(../img/landing/mat1_bg.png); background-repeat:no-repeat; background-size:cover; background-position:center;}
.wrap .section2 ul li:nth-child(1) .mat_logo{width:178px; height:118px; background-image:url(../img/landing/mat1_logo.png); margin-left:-89px;}
.wrap .section2 ul li:nth-child(2){background-image:url(../img/landing/mat2_bg.png);}
.wrap .section2 ul li:nth-child(2) .mat_logo{width:192px; height:50px; background-image:url(../img/landing/mat2_logo.png); margin-left:-96px;}
.wrap .section2 ul li:nth-child(3){background-image:url(../img/landing/mat3_bg.png);}
.wrap .section2 ul li:nth-child(3) .mat_logo{width:222px; height:66px; background-image:url(../img/landing/mat3_logo.png); margin-left:-111px;}
.wrap .section2 ul li:nth-child(4){background-image:url(../img/landing/mat4_bg.png);}
.wrap .section2 ul li:nth-child(4) .mat_logo{width:158px; height:66px; background-image:url(../img/landing/mat4_logo.png); margin-left:-79px;}
/*section2:자세히보기*/
.wrap .section2 ul li .detail{width:122px; position:absolute; bottom:50px; left:50%; margin-left:-61px; font-size:20px; line-height:20px; color:#fff; font-family: 'Noto Sans KR', sans-serif; text-align:left; opacity:0;}
.wrap .section2 ul li .detail span{display:block; width:24px; height:22px; background-image:url(../img/icon/seemore2_icon.png); background-repeat:no-repeat; background-size:contain; float:right; margin-top:-2px;}
.wrap .section2 ul li .detail:after{content:""; display:block; clear:both;}/*clearfix*/
.wrap .section2 ul:after{content:""; display:block; clear:both;}/*clearfix*/

/*section3:Product*/
.wrap .section3 h3{text-align:center;}
.wrap .section3 p{text-align:center;}
.wrap .section3 ul li{background:rgba(230,230,230,1); height:360px; margin-right:20px; cursor:pointer;}

/*bridge*/
.wrap .bridge{padding:80px 0;}
.wrap .bridge p{font-size:24px; line-height:1.5; text-align:center;}

/*ribbon*/
.ribbon{background:#fafafa; padding:80px 0;}
.ribbon p{font-size:20px; line-height:1.5; text-align:center; color:#646464; padding-bottom:60px;}
.ribbon p strong{color:#646464;}

/*news wrap*/
.ribbon .news_wrap{width:1240px; margin:0 auto; overflow-x:hidden; position:relative;}
.ribbon ul.news_logo{width:200%;}
.ribbon ul.news_logo li{float:left; width:50%; height:32px; animation:ribbons 15s infinite linear; background-image:url(../img/landing/news.png); background-repeat:no-repeat; background-size:contain; opacity:0.6; text-indent:-9999px;}

.ribbon .news_wrap .gradient{width:120px; height:32px; background-image:linear-gradient(to right, rgba(250,250,250,1), rgba(250,250,250,0));position:absolute; top:0; left:0; z-index:2;}
.ribbon .news_wrap .gradient2{left:100%; margin-left:-120px; transform:rotate(180deg);}

@keyframes ribbons{
    from{
        -webkit-transform:translateX(0);
        transform:translateX(0);
    }to{
        -webkit-transform:translateX(-100%);
        transform:translateX(-100%);
    }    
}

.ribbon ul:after{content:""; display:block; clear:both;} /*clearfix*/

/*detail media query*/
@media screen and (max-width:1024px){
    .flexslider .banner_title{width:904px; margin-left:-452px;}

    /*insert banner img*/
    .flexslider .slides li div{height:768px;}
    .flexslider .slides .image_wrap1 div{background-position:40% 0;}
    .flexslider .slides .image_wrap2 div{background-position:35% 0;}
    .flexslider .slides .image_wrap3 div{background-position:25% 0;}

    /*section1:Den Mobili*/
    .wrap .section1 ul li:nth-child(1) img{margin-top:143px;}
    /*section2:Material*/
    .wrap .section2 ul li{height:291.4px;}
    /*section2 insert img*/
    .wrap .section2 ul li .mat_logo{bottom:63px;}
    .wrap .section2 ul li:nth-child(1) .mat_logo{width:129.7px; height:86px; margin-left:-64.85px;}
    .wrap .section2 ul li:nth-child(2) .mat_logo{width:139.9px; height:36.4px; margin-left:-69.95px;}
    .wrap .section2 ul li:nth-child(3) .mat_logo{width:161.7px; height:48.1px; margin-left:-80.85px;}
    .wrap .section2 ul li:nth-child(4) .mat_logo{width:101px; height:47px; margin-left:-50.5px;}
    /*section2:자세히보기*/
    .wrap .section2 ul li .detail{width:110px; margin-left:-55px; font-size:18px; line-height:18px;}

    /*section3:Product*/
    .wrap .section3 ul li{height:264px;}
    /*ribbon*/
    .ribbon .news_wrap{width:904px;}
}

@media screen and (max-width:768px){
    .flexslider .banner_title{width:708px; margin-left:-354px;}

    /*insert banner img*/
    .flexslider .slides li div{height:100vh;}
    .flexslider .slides .image_wrap1 div{background-position:48% 0;}
    .flexslider .slides .image_wrap2 div{background-position:17% 0;}
    .flexslider .slides .image_wrap3 div{background-position:48% 0;}

    /*sections*/
    .notosans{font-size:20px;}
    .wrap .section{padding-top:60px;}
    .wrap .section h3{font-size:48px; padding-bottom:8px;}
    .wrap .section .txt{padding-bottom:40px;}
    /*더보기 button*/
    .wrap .section .more_btn{width:200px; margin:40px auto 60px auto;}
    .wrap .section .more_btn a{font-size:18px; line-height:18px; padding:17px 0 16px 0;}
    /*detail section*/
    /*section1:Den Mobili*/
    .wrap .section1 h3{padding-bottom:12px;}
    .wrap .section1 ul li{height:183px;}
    .wrap .section1 ul li:nth-child(1) img{margin-top:80px;}
    /*section2:Material*/
    .wrap .section2 ul li{height:228.4px;}
    /*section2 insert img*/
    .wrap .section2 ul li .mat_logo{bottom:43px;}
    .wrap .section2 ul li:nth-child(1) .mat_logo{width:111.9px; height:74.2px; margin-left:-55.95px;}
    .wrap .section2 ul li:nth-child(2) .mat_logo{width:109.6px; height:28.5px; margin-left:-54.8px;}
    .wrap .section2 ul li:nth-child(3) .mat_logo{width:126.8px; height:37.7px; margin-left:-63.4px;}
    .wrap .section2 ul li:nth-child(4) .mat_logo{width:82px; height:34px; margin-left:-41px;}
    /*section2:자세히보기 끄기*/
    .wrap .section2 ul li .detail{display:none;}

    /*section3:Product*/
    .wrap .section3 ul li{height:304px;}

    /*bridge*/
    .wrap .bridge{padding:60px 0;}
    .wrap .bridge p{font-size:20px;}

    /*ribbon*/
    .ribbon{padding:60px 0;}
    .ribbon p{font-size:16px; padding-bottom:40px;}
    .ribbon .news_wrap{width:87.5%;}
}

@media screen and (max-width:415px){
    .flexslider .banner_title{width:100%; left:0; margin-left:0px;}
    .flexslider .banner_title li{width:100%; display:none;}

    /*insert banner img*/
    .flexslider .slides .image_wrap1 div{background-position:25% 0;}
    .flexslider .slides .image_wrap2 div{background-position:40% 0;}
    .flexslider .slides .image_wrap3 div{background-position:40% 0;}

    /*sections*/
    .notosans{font-size:16px;}
    .wrap .section{padding-top:40px;}
    .wrap .section h3{font-size:32px; padding-bottom:8px;}
    .wrap .section .txt{padding-bottom:30px;}
    .wrap .section .txt br{display:block;}
    /*더보기 button*/
    .wrap .section .more_btn{width:100%; margin:30px auto 30px auto;}
    .wrap .section .more_btn a{font-size:16px; line-height:16px; padding:18px 0 16px 0;}
    /*detail section*/
    /*section1:Den Mobili*/
    .wrap .section1 ul li{height:140px;}
    .wrap .section1 ul li:nth-child(1){width:93.92%; position:relative; z-index:2;}
    .wrap .section1 ul li:nth-child(2){float:right; width:93.92%; margin-top:-30px; position:relative; z-index:0;}
    .wrap .section1 ul li:nth-child(1) img{margin-top:55px;}
    /*section2:Material*/
    .wrap .section2 ul li{float:none; width:100%; height:140px; margin-right:0%; margin-bottom:10px;}
    .wrap .section2 ul li:nth-child(4){margin-bottom:0;}
    /*section2 insert img : logo*/
    .wrap .section2 ul li:nth-child(1) .mat_logo{width:124px; height:82px; margin-left:-62px; bottom:28px;}
    .wrap .section2 ul li:nth-child(2) .mat_logo{width:138px; height:36px; margin-left:-69px; bottom:53px;}
    .wrap .section2 ul li:nth-child(3) .mat_logo{width:154px; height:46px; margin-left:-77px; bottom:47px;}
    .wrap .section2 ul li:nth-child(4) .mat_logo{width:101px; height:40px; margin-left:-50.5px; bottom:48px;}
    /*section2 insert img : bg*/
    .wrap .section2 ul li:nth-child(1){background-image:url(../img/landing/mat1_bg_m.png);}
    .wrap .section2 ul li:nth-child(2){background-image:url(../img/landing/mat2_bg_m.png);}
    .wrap .section2 ul li:nth-child(3){background-image:url(../img/landing/mat3_bg_m.png);}
    .wrap .section2 ul li:nth-child(4){background-image:url(../img/landing/mat4_bg_m.png);}

    /*section3:Product*/
    .wrap .section3 ul li{height:253px;}
    .wrap .section3 ul li{margin-right:0px;}

    /*bridge*/
    .wrap .bridge{padding:40px 0;}
    .wrap .bridge p{font-size:16px;}

    /*ribbon*/
    .ribbon{padding:40px 0;}
    .ribbon p{width:87.5%; margin:0 auto;}
    .ribbon p br{display:none;}
    .ribbon .news_wrap{width:87.5%;}
    .ribbon ul.news_logo{width:400%;}
    .ribbon ul{width:400%;}
    .ribbon .news_wrap .gradient{width:30px; height:32px;}
    .ribbon .news_wrap .gradient2{left:100%; margin-left:-30px;}
}